@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


/* ROOT VARIABLES */
:root{
    --color-primary:#7380ec;
    --color-danger:#ff7782;
    --educesol-green:  #1AA939; 
    --color-success:#41f1b6;
    --color-white: #fff;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-warning: #EB8D00;
    --educesol-black: #103741;
    --color-dark: #364979;
    --color-background: #E6FEE8;
    --color-info-dark: #dce1eb;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    scrollbar-width: thin;
    scrollbar-color: #81e496 #f1f1f1;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px; /* Width of the entire scrollbar */
  }
  
 
  
 

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden ;
}

a {
    color: var(--color-white);
}

svg{
    color: black
}

.container{
    display: grid;
    width: 96%;
    /* margin: 0 auto; */
    gap: 1.8rem;
    grid-template-columns: 20rem auto;
}

img{
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.76rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--educesol-black);
}

b{
    color: var(--educesol-black);
}


.primary{
    color: var(--color-primary);
}
.danger{
    color: var(--color-danger);
}
.warning{
    color: var(--color-warning);
}
.success{
    color: var(--color-success);
}

aside {
    height: 100vh;
    background-color: var(--educesol-green);
}

aside .top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 1.4rem;
}

aside .logo{
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
}

aside .close{
    display: none;
}

/* SIDE BAR*/
aside .side-bar{
    background: var(--educesol-green);
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    top: 1rem;
}

aside .h3{
    font-weight: 500;
}

aside .side-bar a{
    display: flex;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    text-align: left;
    height: 4.5rem;
    transition: all 300ms ease;
}
aside .side-bar a:hover{
    color: var(--educesol-black);
}

aside .side-bar a:nth-child(2){
    margin-left: 2.9rem;
    gap: 2.1rem;
    align-items: center;
}
aside .side-bar a:nth-child(3){
    margin-left: 1.9rem;
    align-items: center;
    gap: 1.8;
}
aside .side-bar a:nth-child(4){
    margin-left: 2.5rem;
    align-items: center;
    gap: 1.3rem;
    margin-top: -0.5rem;
}
aside .side-bar a:nth-child(5){
    margin-left: 2rem;
    align-items: center;
    gap: 0.8rem;
    margin-top: -0.7rem ;
}
aside .side-bar a:nth-child(6){
    margin-left: 1.8rem;
    align-items: center;
    gap: 0.5rem;
    margin-top: -0.8rem ;
}
aside .side-bar a:nth-child(7){
    margin-left: 2rem;
    align-items: center;
    gap: 1.8;
    margin-top: -0.5rem ;
}

aside .side-bar a:nth-child(8){
    margin-left: 2rem;
    align-items: center;
    gap: 1.8;
    margin-top: -0.5rem ;
}

aside .side-bar a:nth-child(9){
    margin-left: 2rem;
    align-items: center;
    gap: 1.8;
    margin-top: -0.5rem ;
}

aside .side-bar a:focus {
    background: #85ee9c ;
    color: var(--color-white);
    margin-left: 0;
}

aside .side-bar a:focus:before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--educesol-black);
}

.term-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.term-container .card{
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    width: 17rem;
    background: #fff;
    padding: 15px;
}

.term-container .card:hover{
    cursor: pointer;
    box-shadow: none;
}

.chart  {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.chart .chart1 , .chart2{
    width: 34rem;
    background: #1AA939;
    height: 40vh;
    border-radius: var(--card-border-radius);
    text-align: center;
}

main .table-top{
    margin: 0 5rem; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

main .reload{
    padding: 8px;
    width: 100px; 
    background: #1AA939;  
    border-radius: 0.3rem; 
    font-family: poppins;
}

main .manage-result{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #fff;
    padding: 15px;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow);
}

main .manage-result h2{
    margin-bottom: 1rem;
}

main .manage-result table{
    margin: 0 auto;
    background: var(--color-white);
    width: 95%;
    padding: var(--card-padding);
    text-align: center;
}

main .manage-result td {
    border: 1px solid rgb(173, 168, 168);
}

main .manage-result table thead{
    font-size: 1rem;
}

main .insight{
    display:flex; 
    align-items: center; 
    justify-content: space-between; 
    background: white; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}

/* MEDIA QUERIES FOR SMALL LAPTOPS AND IPADS*/
@media screen and (max-width: 1200px) {
    .container{
        grid-template-columns: 7rem auto;
    }

    aside .logo {
        margin-left: 0rem;
    }

    aside .logo h1{
        display: none;
    }

    aside .side-bar h3{
        display: none;
    }

    aside .side-bar a{
        width: 7rem;
    }

    main .insight{
        display: flex;
        justify-content: center;
        gap: 3rem;
    }

    .term-container{
        grid-template-columns: repeat(2, 2fr);
        margin-top: 20px;
    }
    .term-container .card{
        width: 34rem;
        margin: 0.5rem 0;
    }

    .term-container .card div{
        gap: 15rem;
    }

    main .manage-result{
        padding: 9px;
    }

    main .manage-result table {
        width: 70vw;
    }

    main .table-top{
        margin: 0 7.3rem;
    }

    main .table-top h1{
        font-size: 1.4rem;
    }
} 

/* MEDIA QUERIES FOR SMALLER IPADS AND MOBILE*/
@media screen and (max-width: 768px){
    .container{
        width: 100%;
    }

}




      



